.wrapper {
  width: 100%;
}
.header {
  background-color: rgb(31, 31, 117);
  width: 100%;
  height: 160px;
  text-align: center;
  padding: 30px 20x 40px 20px;
  /* overflow: auto; */
}
.header-title {
  color: white;
  /* margin: 10px 10px 10px 280px; */
}
.header-content {
  color: white;
  font-size: 20px;
  font-weight: 200;
  /* margin: 10px 10px 10px 280px; */
}
.sign-reg {
  color: white;
  padding: 10px;
  background-color: rgb(68, 159, 238);
  border: none;
  margin: 10px 10px 100px 280px;
}

.input-container {
  border: 3.5px solid rgb(253, 208, 4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 50px;
  position: absolute;
  bottom: -40px;
  /* right: 90px; */
  width: 90%;
  background-color: white;
}
.input {
  padding: 15px;
  border: none;
  width: 180px;
}

.wrapper {
  position: relative;
}
.search {
  background-color: rgb(31, 31, 117);
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.calendar-box-wrapper {
  position: relative;
  z-index: 1;
}

.calendar-box {
  position: absolute;
}
