.container {
  margin: 20px 240px 20px 280px;
}
.detail_title {
  display: flex;
  justify-content: space-between;
}
.address_wrap {
  display: flex;
  align-items: center;
}
.address {
  font-size: 13px;
  margin: 10px;
}
.info_wrap {
  text-align: left;
}
.distance {
  color: rgb(68, 159, 238);
  font-weight: 600;
  margin-bottom: 10px;
}
.detail_price {
  color: green;
  font-weight: 600;
}
.reserveBtn {
  width: 180px;
  padding: 10px;
  background-color: rgb(68, 159, 238);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.image-container {
  margin: 30px 0px;
}
.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.image-item {
  flex-basis: 32%;
}

.image-item img {
  width: 100%;
  height: 200px;
}

.content_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.content_wrap {
  width: 690px;
  text-align: left;
}
.content_description {
  margin-top: 20px;
  font-size: 15px;
}
.aside {
  width: 230px;
  border: none;
  background-color: rgba(68, 159, 238, 0.149);
  padding: 20px;
}
.aside_title {
  color: rgb(101, 101, 101);
  font-size: 18px;
  margin-bottom: 20px;
}
.aside_content {
  font-size: 13px;
  margin-bottom: 20px;
}
.aside_price {
  display: flex;
}
.aside_night {
  font-size: 26px;
  
  margin: 0px 0px 15px 10px;
}
.bookBtn {
  width: 90%;
  padding: 10px;
  background-color: rgb(68, 159, 238);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
