/* .booking-wrapper {
    min-width: 100%;
}
.aside {
  width: 100%;
  border: none;
  background-color: rgba(68, 159, 238, 0.149);
  padding: 20px;
  display: flex;
  justify-content: center;
}
.hotel-info-wrapper {
    width: 100%;
}
.hotel-info-container {
    width: 70%;
}
.hotel-info-title {
  color: rgb(101, 101, 101);
  font-size: 18px;
  margin-bottom: 20px;
}
.hotel-info-content {
  font-size: 13px;
  margin-bottom: 20px;
}
.hotel-price-wrapper {
  display: flex;
  width: 30%;
}
.aside_night {
  font-weight: 350;
  margin: 0px 0px 15px 5px;
}
.bookBtn {
  width: 230px;
  padding: 10px;
  background-color: rgb(68, 159, 238);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
} */

.booking-form-wrapper {
  min-width: 100%;
  padding: 40px;
}

.hotel-content-wrapper {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.hotel-info-left {
  width: 70%;
  /* border: 1px solid black; */
  padding: 20px;
  text-align: left;
}
.hotel-price-right {
  width: 25%;
  background-color: rgba(68, 159, 238, 0.149);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.hotel-price-right h2 span {
  font-weight: 350;
  margin: 0px 0px 15px 5px;
}
.bookBtn {
  width: 86%;
  padding: 10px;
  margin-top: 80px;
  margin-left: 20px;
  background-color: rgb(68, 159, 238);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* STYLING DATE AND RESERED INFO */
.container-date-reservedinfo {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: 30px 0px;
}
.daterange-wrapper {
  text-align: left;
}
.reserveinfo-wrapper {
  width: 60%;
  text-align: left;
}
.input-wrapper input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

/* STYLING SELECT ROOM */
.container-selectrooms {
  /* border: 1px solid black; */
  text-align: left;
}
.doubleroom-twinroom-wrapper {
  display: flex;
  justify-content: space-between;
}
.budget-doubleroom-wrapper {
  width: 50%;
  text-align: left;
}
.budgetdoubleroom-info-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.left-content {
  text-align: left;
  width: 50%;
}
.right-content {
  display: flex;
  width: 40%;
}
.budget-twinroom-wrapper {
  width: 50%;
  text-align: left;
}
.budgettwinroom-info-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}

/* STYLING TOTAL BILL */
.totalbill-wrapper {
  text-align: left;
  margin: 20px 0px;
}
.container-totalbill {
  display: flex;
  height: 60px;
  gap: 30px;
}
.bookReserve {
  width: 30%;
  height: 80%;
  padding: 10px;
  align-items: center;
  margin-left: 20px;
  background-color: rgb(68, 159, 238);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
